<div>
  <div class="eater-38">
    <h3>Eater 38</h3>
    <h6>the answer to "what's the best restaurant for..."</h6>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 square square-gray">
        <h4>Restaurant Name</h4>
        <h5>Rating Stars</h5>
      </div>
      <div class="col-xs-4 square square-darkgray">
      </div>
      <div class="col-xs-4 square square-gray">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 square square-darkgray">
      </div>
      <div class="col-xs-4 square square-gray">
      </div>
      <div class="col-xs-4 square square-darkgray">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 square square-gray">
      </div>
      <div class="col-xs-4 square square-darkgray">
      </div>
      <div class="col-xs-4 square square-gray">
      </div>
    </div>
  </div>
  <div class="protip-footer">
    <h5>Pro tip: Hidden among this list are special offers that appear once you check in.
    Keep dining to find them all!</h5>
  </div>
  <div class="bottom-buttons-container">
    <button class="bottom-buttons" id="reshuffle">Reshuffle</button>
    <button class="bottom-buttons" id="save-board">Save This Board</button>
  </div>
  <div class="information-popup">
    <p>Eater 38 is a curated list of 38 of the best restaurants in Seattle, chosen by the Eater Seattle editors.</p>
    <p>Dine at 9 and you'll get a special reward.</p>
    <p>Don't want to eat at this 9? Hit "Shuffle" to see more options from Eater's list of great Seattle restaurants.</p>
    <p>Once you go to a restaurant you'll receive a code to check in.</p>
    <button class="information-button" type="button" data-dismiss="modal">Got It</button>
  </div>
</div>
