<div>

  <div class="curated-lists-header">
    <h5>Curated Lists</h5>
  </div>
  <div id="eat38" class="darkGray">
    <a id="hl" href="/matrix">
      <h3>Eater 38 </h3>
      <h6>the answer to "what's the best restaurant for ...""</h6>
    </a>
  </div>
  <div class="gray">
    <h3>Seattle Met </h3>
    <h6>Best Asian Restaurants of 2016</h6>
  </div>
  <div class="darkGray">
    <h3>The Seattle Times</h3>
    <h6>Best Restaurants from the newspaper of record </h6>
  </div>
  <div class="gray">
    <h3>Do206</h3>
    <h6>Do you know what's good? They do.</h6>
  </div>
  <div class="darkGray">
    <h3>KEXP</h3>
    <h6>They support good music (and good restaurants). You should too.</h6>
  </div>
  <div class="gray">
    <h3>Dining Dash Editor Picks</h3>
    <h6>Who eats out more than we do? Nobody, that's who.</h6>
  </div>
  <div class="darkGray">
    <h3>Dine Around Seattle March 2017</h3>
    <h6>Supporting the dining culture of Seattle everyday.</h6>
  </div>
  <div class="gray">
    <h3>Food Lifeline</h3>
    <h6>Keeping food on the table for hungry Seattle families.</h6>
  </div>
  <div class="darkGray">
    <h3>General Assembly</h3>
    <h6>Generally, we assemble around computers, but we gotta eat.</h6>
  </div>
  <div class="gray">
    <h3>MyBallard</h3>
    <h6>An alliance of folks who knew Seattle before you came and raised rents.</h6>
  </div>
</div>

<!-- Modal Overlay -->
<!-- <div class="modal fade" id="slide-bottom-popup-short" data-keyboard="false" data-backdrop="false">
  <div class="modal-body">
    <p class="pModal">Experts from Seattle magazines, websites, and kill organizations have curated lists of great restaurants.</p>
    <p class="pModal">Pick a list, dine at nine spots, and collect digital "stamps" along the way.</p>
    <p class="pModal">You can work on multiple lists simultaneously, but your progress is stored in each one.</p>
    <p class="pModal">Ready to eat?</p>
    <p class="pModal">(Psst: have a question? Check out the FAQ)</p>
    <div class="modal-footer">
      <button id="modalBottomButton" type="button" class="btn btn-default" data-dismiss="modal">Got It</button>
    </div>
  </div>
</div> -->
